---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import PostSideBar from "../components/PostSideBar.astro";

const frontmatter = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={frontmatter.title} description={frontmatter.description} />
    <style>
      main {
        max-width: 100%;
        margin: var(--space-l) 0;
        display: flex;
        column-gap: var(--space-3xs-2xs);
        justify-content: start;
        flex-direction: row;
        flex-wrap: wrap;
      }
      article {
        width: 100%;
        min-width: 350px;
        max-width: var(--width);
        margin: auto;
        flex: 3 3 0;
      }
      section {
        max-width: var(--width);
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    </style>
  </head>

  <body>
    <Header title={frontmatter.title} />
    <main>
      {
        frontmatter.toc ? (
          <PostSideBar
            headings={frontmatter.headings}
            title={frontmatter.title}
          />
        ) : null
      }
      <!-- Make the article a component -->
      <article>
        <slot />
        <div>
          Posted on <FormattedDate date={frontmatter.date} />
        </div>
        {
          frontmatter.lastmod && (
            <div>
              Last updated on <FormattedDate date={frontmatter.lastmod} />
            </div>
          )
        }
        <section>
          <p>
            <a
              href=`mailto:websitecontact.hush341@passmail.net?subject=${frontmatter.title}`
              >Reply to this post via email.</a
            >
          </p>
          <a href="https://notbyai.fyi" target="_blank"
            ><img
              src="/Written-By-Human-Not-By-AI-Badge-white.svg"
              alt="Written by Human, Not by AI"
            /></a
          >
        </section>
      </article>
    </main>
    <Footer />
  </body>
</html>
